@font-face {
    font-family: 'Pokemon Solid';
    src: url('assets/Pokemon Solid.ttf') format('truetype');
}
body{
    background: url(assets/pokemonwallpaper.jpeg);
    background-size: 100% 100%;
    color: #D6D6D6;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 90%;
    font-family: 'Pokemon Solid';
}
figure{
    width: 400px;
    height: 600px;
}
#container{
    position:relative;
}
#imgPK{
    position: absolute;
    top: 25%;
    left: 30%;
}
#formPK{
    position: absolute;
    top: 42%;
    left: 32%;
}
#inputPK{
    box-shadow: 2px 4px #9A9A9A;
}
#nome{
    position: relative;
    bottom:26%;
    left: 30%;
}
#info1{
    position: relative;
    bottom: 27%;
    left: 30%;
}
#info2{
    position: relative;
    bottom: 28%;
    left: 30%;
}
#botoes{
    position: relative;
    bottom: 28%;
    left: 36%;
}
#btnPlay{
    position: relative;
    width: 14%;
    height: 8vh;
    right: 7%;
    box-shadow: -2px 2px gray;
    border-radius: 50px;
    background-color: #6D9EEB;
    font-family: 'Pokemon Solid';
}
#btnVoltar,#btnProximo{
    width: 14%;
    height: 8vh;
    box-shadow: -2px 2px gray;
    border-radius: 50px;
    background-color: #FFD700;
    flex-direction: column;
    font-family: 'Pokemon Solid';
}